<h2>
  <strong>Campaign:</strong>
  <%= @campaign.campaign %>
</h2>

<table class="table">
  <thead>
    <tr>
      <th>Choice</th>
      <th>Valid Votes</th>
      <th>Uncounted Votes</th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.choice %></td>
        <td><%= vote.valid_votes %></td>
        <td><%= vote.uncounted_votes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
